
<FIXML xmlns="http://www.finacle.com/fixml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.finacle.com/fixml BalInq.xsd">
  <Header>
    <ResponseHeader>
      <RequestMessageKey>
        <RequestUUID>Req_1376630081191</RequestUUID>
        <ServiceRequestId>BalInq</ServiceRequestId>
        <ServiceRequestVersion>10.2</ServiceRequestVersion>
        <ChannelId>COR</ChannelId>
      </RequestMessageKey>
      <ResponseMessageInfo>
        <BankId>01</BankId>
        <TimeZone/>
        <MessageDateTime>2013-10-03T14:41:08.469</MessageDateTime>
      </ResponseMessageInfo>
      <UBUSTransaction>
        <Id/>
        <Status/>
      </UBUSTransaction>
      <HostTransaction>
        <Id/>
        <Status>SUCCESS</Status>
      </HostTransaction>
      <HostParentTransaction>
        <Id/>
        <Status/>
      </HostParentTransaction>
      <CustomInfo/>
    </ResponseHeader>
  </Header>
  
  <Body>
    <BalInqResponse>
      <BalInqRs>
        <AcctId>
          <AcctId>1007710010000223</AcctId>
          <AcctType>
            <SchmCode/>
            <SchmType/>
          </AcctType>
          <AcctCurr>INR</AcctCurr>
          <BankInfo>
            <BankId/>
            <Name/>
            <BranchId/>
            <BranchName/>
            <PostAddr>
              <Addr1/>
              <Addr2/>
              <Addr3/>
              <City/>
              <StateProv/>
              <PostalCode/>
              <Country/>
              <AddrType/>
            </PostAddr>
          </BankInfo>
        </AcctId>
        <AcctBal>
          <BalType>CLRBAL</BalType>
          <BalAmt>
            <amountValue>339465.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>SANLIM</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>UTLAMT</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>DRWPWR</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>ADHOC</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>SINTRN</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>CLNADH</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>DACC</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>LIEN</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>SYSRES</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>OVDFUT</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>DAFALM</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>FUTBAL</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>FLOAT</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>AVAIL</BalType>
          <BalAmt>
            <amountValue>339465.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>FFDAVL</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>EFFAVL</BalType>
          <BalAmt>
            <amountValue>339465.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>EFUAVL</BalType>
          <BalAmt>
            <amountValue>339465.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>EMRADV</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>CLNEMR</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>CLNSTR</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>SYSGENLM</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>UNCLRBAL</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>POOLAVL</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode/>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>HOMAVL</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode/>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>FUTCR</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode/>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>UTILFUTBAL</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>USEDOC</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
        <AcctBal>
          <BalType>DAFAWITHDRAWL</BalType>
          <BalAmt>
            <amountValue>0.00</amountValue>
            <currencyCode>INR</currencyCode>
          </BalAmt>
        </AcctBal>
      </BalInqRs>
      <BalInq_CustomData/>
    </BalInqResponse>
  </Body>
</FIXML>

