<?xml version="1.0" encoding="UTF-8"?>
<FIXML xmlns="http://www.finacle.com/fixml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.finacle.com/fixml blockModify.xsd">

<Header>
  <ResponseHeader>
    <RequestMessageKey>
      <RequestUUID>Req_1383126873059</RequestUUID>
      <ServiceRequestId>blockModify</ServiceRequestId>
      <ServiceRequestVersion>10.2</ServiceRequestVersion>
      <ChannelId>COR</ChannelId>
    </RequestMessageKey>
    <ResponseMessageInfo>
      <BankId>01</BankId>
      <TimeZone/>
      <MessageDateTime>2013-10-30T09:59:40.823</MessageDateTime>
    </ResponseMessageInfo>
    <UBUSTransaction>
      <Id/>
      <Status/>
    </UBUSTransaction>
    <HostTransaction>
      <Id/>
      <Status>SUCCESS</Status>
    </HostTransaction>
    <HostParentTransaction>
      <Id/>
      <Status/>
    </HostParentTransaction>
    <CustomInfo/>
  </ResponseHeader>
</Header>

<Body>
  <blockModifyResponse>
    <BlockModifyOutputVO>
      <accountBalances>
        <acid>ARJSB2</acid>
        <availableBalance>
          <amountValue>0.0</amountValue>
          <currencyCode/>
        </availableBalance>
        <branchId>0001</branchId>
        <currencyCode/>
        <fFDBalance>
          <amountValue>9.0</amountValue>
          <currencyCode/>
        </fFDBalance>
        <floatingBalance>
          <amountValue>10.0</amountValue>
          <currencyCode/>
        </floatingBalance>
        <ledgerBalance>
          <amountValue>11.0</amountValue>
          <currencyCode/>
        </ledgerBalance>
        <userDefinedBalance>
          <amountValue>12.0</amountValue>
          <currencyCode/>
        </userDefinedBalance>
      </accountBalances>
      <accountStatus>00</accountStatus>
      <stan>000000000063</stan>
      <valueDate>2013-10-01T00:00:00.000</valueDate>
    </BlockModifyOutputVO>
    <blockModify_CustomData>
      <THB>49</THB>
    </blockModify_CustomData>
  </blockModifyResponse>
</Body>


</FIXML>
