<FIXML>
<Body>
<CustomerDetailsAggregate>

<RetCustInqResponse>
  <RetCustInqRs>
    <RetCustDtls>
      <AcctName></AcctName>
      <AnnualRevenue>0.0</AnnualRevenue>
      <Assistant></Assistant>
      <AvailableCrLimit>0.0</AvailableCrLimit>
      <BlacklistNotes></BlacklistNotes>
      <BlacklistReason></BlacklistReason>
      <IsBlacklisted>N</IsBlacklisted>
      <CardHolder></CardHolder>
      <Category></Category>
      <ChargeLevelCode></ChargeLevelCode>
      <CustId>8011501010000067</CustId>
      <CIN></CIN>
      <City>SOHNA</City>
      <CombinedStmtFlag></CombinedStmtFlag>
      <ConstitutionCode>C001</ConstitutionCode>
      <ConstitutionRefCode>C001</ConstitutionRefCode>
      <CorpRepCount>0</CorpRepCount>
      <CountryOfBirth></CountryOfBirth>
      <CreatedFrom></CreatedFrom>
      <CreatedBySystemId></CreatedBySystemId>
      <CurrCode>INR</CurrCode>
      <CurrentCrExposure>0.0</CurrentCrExposure>
      <CommunityCode></CommunityCode>
      <Community></Community>
      <BirthDt>1947-09-08T00:00:00.000</BirthDt>
      <FirstName>KRISHAN</FirstName>
      <FirstNameNative></FirstNameNative>
      <FirstNameNative1></FirstNameNative1>
      <Health>01</Health>
      <HealthCode></HealthCode>
      <Language>USA (English)</Language>
      <LastName>SETHI</LastName>
      <LastNameNative></LastNameNative>
      <LastNameNative1></LastNameNative1>
      <MiddleName>KUMAR</MiddleName>
      <MiddleNameNative></MiddleNameNative>
      <MiddleNameNative1></MiddleNameNative1>
      <IsStaff></IsStaff>
      <SwiftCode></SwiftCode>
      <CustType>T001</CustType>
      <CustTypeCode>T001</CustTypeCode>
      <CustClass></CustClass>
      <IsMinor>N</IsMinor>
      <IsNRE>N</IsNRE>
      <CustProfitability>0.0</CustProfitability>
      <CustRelNum></CustRelNum>
      <CustTrade></CustTrade>
      <DefaultAddrType>Mailing</DefaultAddrType>
      <DelinquencyFlag>N</DelinquencyFlag>
      <DeliquencyPeriod>0</DeliquencyPeriod>
      <Designation></Designation>
      <IsDocReceived></IsDocReceived>
      <DualFirstName></DualFirstName>
      <DualLastName></DualLastName>
      <DualMiddleName></DualMiddleName>
      <Education></Education>
      <EntityCreationFlag>Y</EntityCreationFlag>
      <ExtnNum></ExtnNum>
      <FatherOrHusbandName></FatherOrHusbandName>
      <Fax></Fax>
      <FaxHome></FaxHome>
      <Gender>M</Gender>
      <GroupIdCode></GroupIdCode>
      <HouseholdName></HouseholdName>
      <IncrementalDt>2012-12-13T00:00:00.000</IncrementalDt>
      <InternalScore></InternalScore>
      <SalutationCodeOfIntroducer></SalutationCodeOfIntroducer>
      <StatusOfIntroducer></StatusOfIntroducer>
      <NameOfIntroducer>.</NameOfIntroducer>
      <SalutationOfIntroducer></SalutationOfIntroducer>
      <IsSwiftCodeOfBank></IsSwiftCodeOfBank>
      <IsCorpRepresentative>N</IsCorpRepresentative>
      <IsDummy>N</IsDummy>
      <IsEBankingEnabled>N</IsEBankingEnabled>
      <IsSMSBankingEnabled>N</IsSMSBankingEnabled>
      <IsWAPBankingEnabled>N</IsWAPBankingEnabled>
      <LeadSource></LeadSource>
      <LicenseNum></LicenseNum>
      <MaidenName></MaidenName>
      <MaidenNameOfMother>.</MaidenNameOfMother>
      <Manager>02795</Manager>
      <ManagerOpinion></ManagerOpinion>
      <GuardianCode></GuardianCode>
      <GuardianName></GuardianName>
      <ModifiedBySysId></ModifiedBySysId>
      <MotherName></MotherName>
      <Name>KRISHAN K SETHI</Name>
      <NameSuffix></NameSuffix>
      <NationalIdCardNum></NationalIdCardNum>
      <NativeLanguage>INFENG</NativeLanguage>
      <NativeLanguageCode></NativeLanguageCode>
      <NativeLanguageName>Not Applicable</NativeLanguageName>
      <NativeLanguageTitle>MR.</NativeLanguageTitle>
      <NativeLanguageTitleCode>MR.</NativeLanguageTitleCode>
      <IsNegated>N</IsNegated>
      <NegationNotes></NegationNotes>
      <NegationReason></NegationReason>
      <NickName></NickName>
      <Notes></Notes>
      <Occupation>14</Occupation>
      <OccupationCode>14</OccupationCode>
      <OfflineCumDrLimit>0.0</OfflineCumDrLimit>
      <PAN>ACBPS3383F</PAN>
      <PassportNum></PassportNum>
      <PersonType></PersonType>
      <Phone></Phone>
      <PlaceOfBirth></PlaceOfBirth>
      <PotentialCrLine>0.0</PotentialCrLine>
      <PrefCode></PrefCode>
      <PrefCodeRefCode></PrefCodeRefCode>
      <PrefName>.</PrefName>
      <PreviousName></PreviousName>
      <PrimaryServiceCentre>0115</PrimaryServiceCentre>
      <PrimarySolId>0115</PrimarySolId>
      <PriorityCode></PriorityCode>
      <ProofOfAgeDoc></ProofOfAgeDoc>
      <ProofOfAgeFlag></ProofOfAgeFlag>
      <PassportDtls></PassportDtls>
      <Rating></Rating>
      <RatingCode></RatingCode>
      <Region>MIG</Region>
      <RelationshipLevel></RelationshipLevel>
      <RelationshipType></RelationshipType>
      <RelationshipOpeningDt>2012-11-20T00:00:00.000</RelationshipOpeningDt>
      <RelationshipValue>0</RelationshipValue>
      <RevenueUnits></RevenueUnits>
      <Salutation>MR.</Salutation>
      <SalutationCode>MR.</SalutationCode>
      <Sector></Sector>
      <SectorCode></SectorCode>
      <SegmentationClass>MASSMKT</SegmentationClass>
      <ShortName>KRISHANSET</ShortName>
      <ShortNameNative></ShortNameNative>
      <ShortNameNative1></ShortNameNative1>
      <SICCode></SICCode>
      <SMSBankingMobNum></SMSBankingMobNum>
      <SSN></SSN>
      <StaffFlag>N</StaffFlag>
      <Status>A</Status>
      <SubSector></SubSector>
      <SubSectorCode></SubSectorCode>
      <SubSegment>STRIVERS</SubSegment>
      <SuspendNotes></SuspendNotes>
      <SuspendReason></SuspendReason>
      <IsSuspended>N</IsSuspended>
      <TFPartyFlag>N</TFPartyFlag>
      <TickerSymbol></TickerSymbol>
      <TotalCrExposure>0.0</TotalCrExposure>  

      <PhoneEmailInfo>
        <PhoneEmailInfo></PhoneEmailInfo>
        <EmailPalm></EmailPalm>
        <PhoneEmailType>CELLPH</PhoneEmailType>
        <PhoneNum>+91(00)9416354099</PhoneNum>
        <PhoneNumCityCode>00</PhoneNumCityCode>
        <PhoneNumCountryCode>91</PhoneNumCountryCode>
        <PhoneNumLocalCode>9416354099</PhoneNumLocalCode>
        <PhoneOrEmail>PHONE</PhoneOrEmail>
        <PrefFlag>Y</PrefFlag>
        <WorkExtnNum></WorkExtnNum>
      </PhoneEmailInfo>
      <PhoneEmailInfo>
        <PhoneEmailInfo></PhoneEmailInfo>
        <EmailPalm></EmailPalm>
        <PhoneEmailType>HOMEPH1</PhoneEmailType>
        <PhoneNum>+91(00)9416354099</PhoneNum>
        <PhoneNumCityCode>00</PhoneNumCityCode>
        <PhoneNumCountryCode>91</PhoneNumCountryCode>
        <PhoneNumLocalCode>9416354099</PhoneNumLocalCode>
        <PhoneOrEmail>PHONE</PhoneOrEmail>
        <PrefFlag>N</PrefFlag>
        <WorkExtnNum></WorkExtnNum>
      </PhoneEmailInfo>
      <RetCustAddrInfo>
        <AddrLine1>H NO 666 WARD NO 13</AddrLine1>
        <AddrLine2>DERZIWARA</AddrLine2>
        <AddrLine3>SOHNA</AddrLine3>
        <AddrStartDt>2012-11-20T00:00:00.000</AddrStartDt>
        <AddrCategory>Mailing</AddrCategory>
        <BuildingLevel></BuildingLevel>
        <BusinessCenter></BusinessCenter>
        <CellNum></CellNum>
        <City>SOHNA</City>
        <CityCode>SOHNA</CityCode>
        <Country>IN</Country>
        <CountryCode>IN</CountryCode>
        <Domicile></Domicile>
        <Email></Email>
        <EndDt>2099-12-31T00:00:00.000</EndDt>
        <FaxNum></FaxNum>
        <FaxNumCityCode></FaxNumCityCode>
        <FaxNumCountryCode></FaxNumCountryCode>
        <FaxNumLocalCode></FaxNumLocalCode>
        <HoldMailFlag>N</HoldMailFlag>
        <HoldMailInitiatedBy></HoldMailInitiatedBy>
        <HoldMailReason></HoldMailReason>
        <HouseNum></HouseNum>
        <LocalityName></LocalityName>
        <MailStop></MailStop>
        <Name>KRISHAN K SETHI</Name>
        <PagerNum></PagerNum>
        <PagerNumCityCode></PagerNumCityCode>
        <PagerNumCcountryCode></PagerNumCcountryCode>
        <PagerNumLocalCode></PagerNumLocalCode>
        <PhoneNum1></PhoneNum1>
        <PrefAddr>Y</PrefAddr>
        <PrefFormat>FREE_TEXT_FORMAT</PrefFormat>
        <PremiseName></PremiseName>
        <ResidentialStatus></ResidentialStatus>
        <SalutationCode>MR.</SalutationCode>
        <State>HARY</State>
        <StateCode>HARY</StateCode>
        <StreetName></StreetName>
        <StreetNum></StreetNum>
        <Suburb></Suburb>
        <Telex></Telex>
        <TelexCityCode></TelexCityCode>
        <TelexCountryCode></TelexCountryCode>
        <TelexLocalCode></TelexLocalCode>
        <Town></Town>
        <PostalCode>122103</PostalCode>
        <isAddressVerified></isAddressVerified>
      </RetCustAddrInfo>
    </RetCustDtls>

    <DemographicDtls>
      <DonotCallFlag></DonotCallFlag>
      <DonotMailFlag></DonotMailFlag>
      <DonotSendEMailFlag></DonotSendEMailFlag>
      <NameOfEmployer>NOT AVAILABLE</NameOfEmployer>
      <EmploymentStatus>OTH</EmploymentStatus>
      <MaritalStatus>NA</MaritalStatus>
      <Nationality>INDIAN</Nationality>
      <MaritalStatusCode></MaritalStatusCode>
      <NationalityCode></NationalityCode>
      <PrefContactTime></PrefContactTime>
      <PrefDayTimeContactNum></PrefDayTimeContactNum>
      <PrefDayTimeContactNumArea></PrefDayTimeContactNumArea>
      <PrefDayTimeContactNumCountry></PrefDayTimeContactNumCountry>
      <PrefDayTimeContactNumLocal></PrefDayTimeContactNumLocal>
      <ResidenceCountry></ResidenceCountry>
      <ResidenceCountryCode></ResidenceCountryCode>
    </DemographicDtls>


    <EntityDocDtls>
      <CountryOfIssue>IN</CountryOfIssue>
      <DocCode>RC</DocCode>
      <IsDocDeleted></IsDocDeleted>
      <DocIssueDt>2012-11-20T00:00:00.000</DocIssueDt>
      <DocRmks></DocRmks>
      <DocTypeCode>MIGR</DocTypeCode>
      <DocTypeDesc></DocTypeDesc>
      <EntityType>CIFRetCust</EntityType>
      <IdentificationType>IDTypeR1</IdentificationType>
      <PlaceOfIssue>NA</PlaceOfIssue>
      <RefNum>724686</RefNum>
      <Status>Received</Status>
    </EntityDocDtls>
    <EntityDocDtls>
      <CountryOfIssue>IN</CountryOfIssue>
      <DocCode>PAN</DocCode>
      <IsDocDeleted></IsDocDeleted>
      <DocIssueDt>2012-11-20T00:00:00.000</DocIssueDt>
      <DocRmks></DocRmks>
      <DocTypeCode>MIGR</DocTypeCode>
      <DocTypeDesc></DocTypeDesc>
      <EntityType>CIFRetCust</EntityType>
      <IdentificationType>PAN</IdentificationType>
      <PlaceOfIssue>NA</PlaceOfIssue>
      <RefNum>ACBPS3383F</RefNum>
      <Status>Received</Status>
    </EntityDocDtls>


    <PsychographicDtls>
      <DespatchMode></DespatchMode>
      <HouseHoldNum></HouseHoldNum>
      <PrefAddrMode></PrefAddrMode>
      <PrefRep>0</PrefRep>
      <PrefName>.</PrefName>
      <RiskBehaviour></RiskBehaviour>
      <SegmentationClass></SegmentationClass>
      <StmtFreq></StmtFreq>
      <StmtType></StmtType>
      <StmtDtWeekDay>0</StmtDtWeekDay>
      <StmtDateWeekDay>0</StmtDateWeekDay>
      <StmtWeekOfMonth></StmtWeekOfMonth>
    </PsychographicDtls>


    <RelBankDtls>
      <EntityCreationFlag></EntityCreationFlag>
      <NumOfCrCards>0</NumOfCrCards>
    </RelBankDtls>

    <TradeFinDtls>
      <CautionStat></CautionStat>
      <CentralBankId></CentralBankId>
      <City></City>
      <ContractLimit>0.0</ContractLimit>
      <CountryDesc></CountryDesc>
      <CorpKey></CorpKey>
      <CorpName></CorpName>
      <CreatedFrom></CreatedFrom>
      <CurrDesc></CurrDesc>
      <CustFlag></CustFlag>
      <CustNative></CustNative>
      <DCMmarginPercentage>0.0</DCMmarginPercentage>
      <DCNextNumCode></DCNextNumCode>
      <DCNextNumCodeRCode></DCNextNumCodeRCode>
      <DCSanctionIngAuth></DCSanctionIngAuth>
      <IsDeleted></IsDeleted>
      <EntityCreationFlag></EntityCreationFlag>
      <EntityType></EntityType>
      <ExpImpInd></ExpImpInd>
      <FaxNum></FaxNum>
      <FCSanctionIngAuth></FCSanctionIngAuth>
      <HundredPercentFlag></HundredPercentFlag>
      <IndividualCorpFlag></IndividualCorpFlag>
      <InlandTradeAllowed></InlandTradeAllowed>
      <LeasingLiabilities></LeasingLiabilities>
      <Name></Name>
      <OrgKey></OrgKey>
      <PartyConst></PartyConst>
      <PartyType></PartyType>
      <Phone></Phone>
      <PhoneCityCode></PhoneCityCode>
      <PhoneCountryCode></PhoneCountryCode>
      <PhoneLocalCode></PhoneLocalCode>
      <ProductionCycle>0</ProductionCycle>
      <Rmks></Rmks>
      <SpecialCustFlag></SpecialCustFlag>
      <SSIFlag></SSIFlag>
      <StateDesc></StateDesc>
      <Telex></Telex>
      <TradeAuthorityCode></TradeAuthorityCode>
      <PostalCode></PostalCode>
    </TradeFinDtls>


    <RetailBaselDtls>
      <DebtHELOC>0.0</DebtHELOC>
      <CurrFICOScore>0.0</CurrFICOScore>
      <TotalDSR>0.0</TotalDSR>
      <BusinessTotalScore>0.0</BusinessTotalScore>
      <HasRelationship></HasRelationship>
      <CombinedDSR>0.0</CombinedDSR>
      <BusinessDSR>0.0</BusinessDSR>
      <CashAssetRatio>0.0</CashAssetRatio>
      <DebtWorthRatio>0.0</DebtWorthRatio>
      <InterestTaxRatio>0.0</InterestTaxRatio>
      <GeneralQuickRatio>0.0</GeneralQuickRatio>
      <ScoredSICCode></ScoredSICCode>
      <OwnerYears>0</OwnerYears>
      <NetWorth>0.0</NetWorth>
      <DDABal>0.0</DDABal>
      <CombinedDebtRatio>0.0</CombinedDebtRatio>
      <ProposedLeverage>0.0</ProposedLeverage>
      <GLBLCashCoverage>0.0</GLBLCashCoverage>
      <CurrentRatio>0.0</CurrentRatio>
      <LiquidityRatio>0.0</LiquidityRatio>
      <MinTangibleWorth>0.0</MinTangibleWorth>
      <FICOScore>0.0</FICOScore>
      <FinInqCnt>0</FinInqCnt>
      <FinTradeCnt>0</FinTradeCnt>
      <InquiryCnt>0</InquiryCnt>
      <MinorDerogatoryCnt>0</MinorDerogatoryCnt>
      <MajorDerogatoryCnt>0</MajorDerogatoryCnt>
      <NeverPastDueCnt>0</NeverPastDueCnt>
      <OpenTradeCnt>0</OpenTradeCnt>
      <HighestCreditLmt>0.0</HighestCreditLmt>
      <TradeCntThirty>0</TradeCntThirty>
      <TradeCntSixty>0</TradeCntSixty>
      <TradeCntNinety>0</TradeCntNinety>
      <RevolveDebtPrcnt>0.0</RevolveDebtPrcnt>
      <SatisfactoryCnt>0</SatisfactoryCnt>
      <InstLoanBal>0.0</InstLoanBal>
      <InstLoanCnt>0</InstLoanCnt>
      <MortgageBal>0.0</MortgageBal>
      <MortgageTradeCnt>0</MortgageTradeCnt>
      <OtherTradeBal>0.0</OtherTradeBal>
      <OtherTradeCnt>0</OtherTradeCnt>
      <RevolveBal>0.0</RevolveBal>
      <RevolveTradeLmt>0.0</RevolveTradeLmt>
      <RevolveTradeCnt>0</RevolveTradeCnt>
      <CCLimit>0.0</CCLimit>
      <IsWorst></IsWorst>
      <ExpenseIncomeRatio>0.0</ExpenseIncomeRatio>
      <SgmntPoolID>0</SgmntPoolID>
      <PoolPD>0.0</PoolPD>
      <PoolLGD>0.0</PoolLGD>
      <PoolEAD>0.0</PoolEAD>
      <PD>0.0</PD>
      <LGD>0.0</LGD>
      <EAD>0.0</EAD>
      <ModelName></ModelName>
      <ModelVersion>0.0</ModelVersion>
      <ModelResult></ModelResult>
      <IsFailed></IsFailed>  
    </RetailBaselDtls>

  </RetCustInqRs>
  <RetCustInq_CustomData/>
</RetCustInqResponse>


<RetCustAcctInqResponse>
    <RetCustAcctInqRs>
        <RetCustDtlsInfo>
            <FirstName>ANIL</FirstName>
            <LastName>KUMAR</LastName>
            <IsSwiftCodeOfBank/>
            <HouseholdFlag/>
            <HouseholdName/>
            <GroupId/>
            <DefaultAddrType>Mailing</DefaultAddrType>
            <CustTypeCode>T001</CustTypeCode>
            <IsCorpRepresentative>N</IsCorpRepresentative>
            <CustSwiftCode/>
            <NativeLanguageCode/>
            <NativeLanguage/>
            <OccupationCode/>
            <SalutationCode/>
            <Sector/>
            <SectorCode/>
            <StatusCode/>
            <SubSector/>
            <SubSectorCode/>
            <SubSegment>MAINSTREAMERS</SubSegment>
            <TDSCustId/>
            <TDSTable>TDSI</TDSTable>
        </RetCustDtlsInfo>

        <RetSaleDtls>
            <ProdCatId>3</ProdCatId>
            <ProductDtlsInfo>
                <ProductFeature/>
            </ProductDtlsInfo>
            <AcctBranchCode>0001</AcctBranchCode>
            <AcctId>309000055820</AcctId>
            <ChannelCustId>SBGEN</ChannelCustId>
            <ChannelName/>
            <IsMasterAcct/>
            <IsMultiCurrAcct>N</IsMultiCurrAcct>
            <ProductCategory>SBGEN</ProductCategory>
            <ProductCode>ODA</ProductCode>
            <IsRevolvingODAcct/>
            <SaleChannelDtls>
                <AcctCurrCode>INR</AcctCurrCode>
                <AcctOpeningDt>2013-02-19T00:00:00.000</AcctOpeningDt>
                <AcctStatus>Open</AcctStatus>
                <AcctShortName>ANILKUMAR</AcctShortName>
                <CrScoreStatus/>
                <EligibilityResults/>
                <IntRepaymentAcct/>
                <ModeOfOperation>1</ModeOfOperation>
                <PosteIDSRStatus/>
                <PrefRepaymentMode/>
                <RepaymentAcctBank/>
                <RepaymentAcctId/>
                <RepaymentMode/>
            </SaleChannelDtls>
            <SaleCust>
                <Role>Main Account Holder</Role>
            </SaleCust>
            <TopUpFlag/>
        </RetSaleDtls>
        <RetSaleDtls>
            <ProdCatId>2</ProdCatId>
            <ProductDtlsInfo>
                <ProductFeature/>
            </ProductDtlsInfo>
            <AcctBranchCode>0088</AcctBranchCode>
            <AcctId>709000078094</AcctId>
            <ChannelCustId>MIPAP</ChannelCustId>
            <ChannelName/>
            <IsMasterAcct/>
            <IsMultiCurrAcct>N</IsMultiCurrAcct>
            <ProductCategory>MIPAP</ProductCategory>
            <ProductCode>TDA</ProductCode>
            <IsRevolvingODAcct/>
            <SaleChannelDtls>
                <AcctClosureDt>2013-04-02T00:00:00.000</AcctClosureDt>
                <AcctCurrCode>INR</AcctCurrCode>
                <AcctOpeningDt>2013-01-12T00:00:00.000</AcctOpeningDt>
                <AcctStatus>Closed</AcctStatus>
                <AcctShortName>ANILKUMAR</AcctShortName>
                <CrScoreStatus/>
                <EligibilityResults/>
                <IntRepaymentAcct/>
                <ModeOfOperation>1</ModeOfOperation>
                <PosteIDSRStatus/>
                <PrefRepaymentMode/>
                <RepaymentAcctBank/>
                <RepaymentAcctId/>
                <RepaymentMode/>
            </SaleChannelDtls>
            <SaleCust>
                <Role>Main Account Holder</Role>
            </SaleCust>
            <TopUpFlag/>
        </RetSaleDtls>
        <RetSaleDtls>
            <ProdCatId>3</ProdCatId>
            <ProductDtlsInfo>
                <ProductFeature/>
            </ProductDtlsInfo>
            <AcctBranchCode>0001</AcctBranchCode>
            <AcctId>409000018082</AcctId>
            <ChannelCustId>CAGEN</ChannelCustId>
            <ChannelName/>
            <IsMasterAcct/>
            <IsMultiCurrAcct>N</IsMultiCurrAcct>
            <ProductCategory>CAGEN</ProductCategory>
            <ProductCode>ODA</ProductCode>
            <IsRevolvingODAcct/>
            <SaleChannelDtls>
                <AcctCurrCode>INR</AcctCurrCode>
                <AcctOpeningDt>2013-02-28T00:00:00.000</AcctOpeningDt>
                <AcctStatus>Open</AcctStatus>
                <AcctShortName>ANILKUMAR</AcctShortName>
                <CrScoreStatus/>
                <EligibilityResults/>
                <IntRepaymentAcct/>
                <ModeOfOperation>1</ModeOfOperation>
                <PosteIDSRStatus/>
                <PrefRepaymentMode/>
                <RepaymentAcctBank/>
                <RepaymentAcctId/>
                <RepaymentMode/>
            </SaleChannelDtls>
            <SaleCust>
                <Role>Main Account Holder</Role>
            </SaleCust>
            <TopUpFlag/>
        </RetSaleDtls>
        <RetSaleDtls>
            <ProdCatId>3</ProdCatId>
            <ProductDtlsInfo>
                <ProductFeature/>
            </ProductDtlsInfo>
            <AcctBranchCode>0106</AcctBranchCode>
            <AcctId>309000000013</AcctId>
            <ChannelCustId>SBGEN</ChannelCustId>
            <ChannelName/>
            <IsMasterAcct/>
            <IsMultiCurrAcct>N</IsMultiCurrAcct>
            <ProductCategory>SBGEN</ProductCategory>
            <ProductCode>ODA</ProductCode>
            <IsRevolvingODAcct/>
            <SaleChannelDtls>
                <AcctCurrCode>INR</AcctCurrCode>
                <AcctOpeningDt>2012-12-17T00:00:00.000</AcctOpeningDt>
                <AcctStatus>Open</AcctStatus>
                <AcctShortName>ANILKUMAR</AcctShortName>
                <CrScoreStatus/>
                <EligibilityResults/>
                <IntRepaymentAcct/>
                <ModeOfOperation>1</ModeOfOperation>
                <PosteIDSRStatus/>
                <PrefRepaymentMode/>
                <RepaymentAcctBank/>
                <RepaymentAcctId/>
                <RepaymentMode/>
            </SaleChannelDtls>
            <SaleCust>
                <Role>Main Account Holder</Role>
            </SaleCust>
            <TopUpFlag/>
        </RetSaleDtls>
        <RetSaleDtls>
            <ProdCatId>3</ProdCatId>
            <ProductDtlsInfo>
                <ProductFeature/>
            </ProductDtlsInfo>
            <AcctBranchCode>0002</AcctBranchCode>
            <AcctId>409000018389</AcctId>
            <ChannelCustId>CAEXD</ChannelCustId>
            <ChannelName/>
            <IsMasterAcct/>
            <IsMultiCurrAcct>N</IsMultiCurrAcct>
            <ProductCategory>CAEXD</ProductCategory>
            <ProductCode>ODA</ProductCode>
            <IsRevolvingODAcct/>
            <SaleChannelDtls>
                <AcctCurrCode>INR</AcctCurrCode>
                <AcctOpeningDt>2013-03-01T00:00:00.000</AcctOpeningDt>
                <AcctStatus>Open</AcctStatus>
                <AcctShortName>ANILKUMAR</AcctShortName>
                <CrScoreStatus/>
                <EligibilityResults/>
                <IntRepaymentAcct/>
                <ModeOfOperation>1</ModeOfOperation>
                <PosteIDSRStatus/>
                <PrefRepaymentMode/>
                <RepaymentAcctBank/>
                <RepaymentAcctId/>
                <RepaymentMode/>
            </SaleChannelDtls>
            <SaleCust>
                <Role>Main Account Holder</Role>
            </SaleCust>
            <TopUpFlag/>
        </RetSaleDtls>
        <RetSaleDtls>
            <ProdCatId>3</ProdCatId>
            <ProductDtlsInfo>
                <ProductFeature/>
            </ProductDtlsInfo>
            <AcctBranchCode>0001</AcctBranchCode>
            <AcctId>309000055837</AcctId>
            <ChannelCustId>SBGEN</ChannelCustId>
            <ChannelName/>
            <IsMasterAcct/>
            <IsMultiCurrAcct>N</IsMultiCurrAcct>
            <ProductCategory>SBGEN</ProductCategory>
            <ProductCode>ODA</ProductCode>
            <IsRevolvingODAcct/>
            <SaleChannelDtls>
                <AcctCurrCode>INR</AcctCurrCode>
                <AcctOpeningDt>2013-02-19T00:00:00.000</AcctOpeningDt>
                <AcctStatus>Open</AcctStatus>
                <AcctShortName>ANILKUMAR</AcctShortName>
                <CrScoreStatus/>
                <EligibilityResults/>
                <IntRepaymentAcct/>
                <ModeOfOperation>1</ModeOfOperation>
                <PosteIDSRStatus/>
                <PrefRepaymentMode/>
                <RepaymentAcctBank/>
                <RepaymentAcctId/>
                <RepaymentMode/>
            </SaleChannelDtls>
            <SaleCust>
                <Role>Main Account Holder</Role>
            </SaleCust>
            <TopUpFlag/>
        </RetSaleDtls>
        <RetSaleDtls>
            <ProdCatId>3</ProdCatId>
            <ProductDtlsInfo>
                <ProductFeature/>
            </ProductDtlsInfo>
            <AcctBranchCode>0001</AcctBranchCode>
            <AcctId>309000056186</AcctId>
            <ChannelCustId>SBGEN</ChannelCustId>
            <ChannelName/>
            <IsMasterAcct/>
            <IsMultiCurrAcct>N</IsMultiCurrAcct>
            <ProductCategory>SBGEN</ProductCategory>
            <ProductCode>ODA</ProductCode>
            <IsRevolvingODAcct/>
            <SaleChannelDtls>
                <AcctCurrCode>INR</AcctCurrCode>
                <AcctOpeningDt>2013-03-01T00:00:00.000</AcctOpeningDt>
                <AcctStatus>Open</AcctStatus>
                <AcctShortName>ANILKUMAR</AcctShortName>
                <CrScoreStatus/>
                <EligibilityResults/>
                <IntRepaymentAcct/>
                <ModeOfOperation>3</ModeOfOperation>
                <PosteIDSRStatus/>
                <PrefRepaymentMode/>
                <RepaymentAcctBank/>
                <RepaymentAcctId/>
                <RepaymentMode/>
            </SaleChannelDtls>
            <SaleCust>
                <Role>Main Account Holder</Role>
            </SaleCust>
            <TopUpFlag/>
        </RetSaleDtls>
        <RetSaleDtls>
            <ProdCatId>3</ProdCatId>
            <ProductDtlsInfo>
                <ProductFeature/>
            </ProductDtlsInfo>
            <AcctBranchCode>0001</AcctBranchCode>
            <AcctId>1000110010018943</AcctId>
            <ChannelCustId>SBGEN</ChannelCustId>
            <ChannelName/>
            <IsMasterAcct/>
            <IsMultiCurrAcct>N</IsMultiCurrAcct>
            <ProductCategory>SBGEN</ProductCategory>
            <ProductCode>ODA</ProductCode>
            <IsRevolvingODAcct/>
            <SaleChannelDtls>
                <AcctCurrCode>INR</AcctCurrCode>
                <AcctOpeningDt>2005-05-16T00:00:00.000</AcctOpeningDt>
                <AcctStatus>Open</AcctStatus>
                <AcctShortName>ANEETANASA</AcctShortName>
                <CrScoreStatus/>
                <EligibilityResults/>
                <IntRepaymentAcct/>
                <ModeOfOperation>10</ModeOfOperation>
                <PosteIDSRStatus/>
                <PrefRepaymentMode/>
                <RepaymentAcctBank/>
                <RepaymentAcctId/>
                <RepaymentMode/>
            </SaleChannelDtls>
            <SaleCust>
                <Role>Main Account Holder</Role>
            </SaleCust>
            <TopUpFlag/>
        </RetSaleDtls>
        <RetSaleDtls>
            <ProdCatId>3</ProdCatId>
            <AcctBranchCode>0001</AcctBranchCode>
            <AcctId>309000056797</AcctId>
            <ChannelCustId>SBGEN</ChannelCustId>
            <ChannelName/>
            <IsMasterAcct/>
            <IsMultiCurrAcct>N</IsMultiCurrAcct>
            <ProductCategory>SBGEN</ProductCategory>
            <ProductCode>ODA</ProductCode>
            <IsRevolvingODAcct/>
            <TopUpFlag/>
            <ProductDtlsInfo>
                <ProductFeature/>
            </ProductDtlsInfo>
            <SaleChannelDtls>
                <AcctCurrCode>INR</AcctCurrCode>
                <AcctOpeningDt>2013-04-01T00:00:00.000</AcctOpeningDt>
                <AcctStatus>Open</AcctStatus>
                <AcctShortName>ANILKUMAR</AcctShortName>
                <CrScoreStatus/>
                <EligibilityResults/>
                <IntRepaymentAcct/>
                <ModeOfOperation>1</ModeOfOperation>
                <PosteIDSRStatus/>
                <PrefRepaymentMode/>
                <RepaymentAcctBank/>
                <RepaymentAcctId/>
                <RepaymentMode/>
            </SaleChannelDtls>
            <SaleCust>
                <Role>Main Account Holder</Role>
            </SaleCust>
            
        </RetSaleDtls>
        <Service/>
        <Status/>
    </RetCustAcctInqRs>
    <RetCustAcctInq_CustomData/>
</RetCustAcctInqResponse>

</CustomerDetailsAggregate>
</Body>
</FIXML>