<?xml version="1.0" encoding="UTF-8"?>
<FIXML xmlns="http://www.finacle.com/fixml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.finacle.com/fixml getChequesForChequebook.xsd">
<Header>
    <ResponseHeader>
        <RequestMessageKey>
            <RequestUUID>Req_1381162024430</RequestUUID>
            <ServiceRequestId>getChequesForChequebook</ServiceRequestId>
            <ServiceRequestVersion>10.2</ServiceRequestVersion>
            <ChannelId>COR</ChannelId>
        </RequestMessageKey>
        <ResponseMessageInfo>
            <BankId>01</BankId>
            <TimeZone/>
            <MessageDateTime>2013-10-07T16:05:24.177</MessageDateTime>
        </ResponseMessageInfo>
        <UBUSTransaction>
            <Id/>
            <Status/>
        </UBUSTransaction>
        <HostTransaction>
            <Id/>
            <Status>SUCCESS</Status>
        </HostTransaction>
        <HostParentTransaction>
            <Id/>
            <Status/>
        </HostParentTransaction>
        <CustomInfo/>
    </ResponseHeader>
</Header>
<Body>
    <getChequesForChequebookResponse>
        <ChequeInquiryResponseVO>
            <chequeDetails>
                <acid>1001010030004242</acid>
                <branchId>0001</branchId>
                <chequeNumber>22791</chequeNumber>
                <chequeStatus>P</chequeStatus>
            </chequeDetails>
            <chequeDetails>
                <acid>1001010030004242</acid>
                <branchId>0001</branchId>
                <chequeNumber>22792</chequeNumber>
                <chequeStatus>P</chequeStatus>
            </chequeDetails>
            <chequeDetails>
                <acid>1001010030004242</acid>
                <branchId>0001</branchId>
                <chequeNumber>22793</chequeNumber>
                <chequeStatus>U</chequeStatus>
            </chequeDetails>
            <chequeDetails>
                <acid>1001010030004242</acid>
                <branchId>0001</branchId>
                <chequeNumber>22794</chequeNumber>
                <chequeStatus>P</chequeStatus>
            </chequeDetails>
            <chequeDetails>
                <acid>1001010030004242</acid>
                <branchId>0001</branchId>
                <chequeNumber>22795</chequeNumber>
                <chequeStatus>P</chequeStatus>
            </chequeDetails>
            <chequeDetails>
                <acid>1001010030004242</acid>
                <branchId>0001</branchId>
                <chequeNumber>22796</chequeNumber>
                <chequeStatus>P</chequeStatus>
            </chequeDetails>
        </ChequeInquiryResponseVO>
        <getChequesForChequebook_CustomData>
            <THB>49</THB>
        </getChequesForChequebook_CustomData>
    </getChequesForChequebookResponse>
</Body>
</FIXML>