<?xml version="1.0" encoding="UTF-8"?>
<FIXML xmlns="http://www.finacle.com/fixml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.finacle.com/fixml RetCustAcctInq.xsd">
    <Header>
        <ResponseHeader>
            <RequestMessageKey>
                <RequestUUID>Req_1380798782932</RequestUUID>
                <ServiceRequestId>RetCustAcctInq</ServiceRequestId>
                <ServiceRequestVersion>10.2</ServiceRequestVersion>
                <ChannelId>COR</ChannelId>
            </RequestMessageKey>
            <ResponseMessageInfo>
                <BankId>01</BankId>
                <TimeZone/>
                <MessageDateTime>2013-10-03T11:25:26.480</MessageDateTime>
            </ResponseMessageInfo>
            <UBUSTransaction>
                <Id/>
                <Status/>
            </UBUSTransaction>
            <HostTransaction>
                <Id/>
                <Status>SUCCESS</Status>
            </HostTransaction>
            <HostParentTransaction>
                <Id/>
                <Status/>
            </HostParentTransaction>
            <CustomInfo/>
        </ResponseHeader>
    </Header>
    <Body>
        <RetCustAcctInqResponse>
            <RetCustAcctInqRs>
                <RetCustDtlsInfo>
                    <FirstName>ANIL</FirstName>
                    <LastName>KUMAR</LastName>
                    <IsSwiftCodeOfBank/>
                    <HouseholdFlag/>
                    <HouseholdName/>
                    <GroupId/>
                    <DefaultAddrType>Mailing</DefaultAddrType>
                    <CustTypeCode>T001</CustTypeCode>
                    <IsCorpRepresentative>N</IsCorpRepresentative>
                    <CustSwiftCode/>
                    <NativeLanguageCode/>
                    <NativeLanguage/>
                    <OccupationCode/>
                    <SalutationCode/>
                    <Sector/>
                    <SectorCode/>
                    <StatusCode/>
                    <SubSector/>
                    <SubSectorCode/>
                    <SubSegment>MAINSTREAMERS</SubSegment>
                    <TDSCustId/>
                    <TDSTable>TDSI</TDSTable>
                </RetCustDtlsInfo>
                <RetSaleDtls>
                    <ProdCatId>3</ProdCatId>
                    <ProductDtlsInfo>
                        <ProductFeature/>
                    </ProductDtlsInfo>
                    <AcctBranchCode>0001</AcctBranchCode>
                    <AcctId>309000055820</AcctId>
                    <ChannelCustId>SBGEN</ChannelCustId>
                    <ChannelName/>
                    <IsMasterAcct/>
                    <IsMultiCurrAcct>N</IsMultiCurrAcct>
                    <ProductCategory>SBGEN</ProductCategory>
                    <ProductCode>ODA</ProductCode>
                    <IsRevolvingODAcct/>
                    <SaleChannelDtls>
                        <AcctCurrCode>INR</AcctCurrCode>
                        <AcctOpeningDt>2013-02-19T00:00:00.000</AcctOpeningDt>
                        <AcctStatus>Open</AcctStatus>
                        <AcctShortName>ANILKUMAR</AcctShortName>
                        <CrScoreStatus/>
                        <EligibilityResults/>
                        <IntRepaymentAcct/>
                        <ModeOfOperation>1</ModeOfOperation>
                        <PosteIDSRStatus/>
                        <PrefRepaymentMode/>
                        <RepaymentAcctBank/>
                        <RepaymentAcctId/>
                        <RepaymentMode/>
                    </SaleChannelDtls>
                    <SaleCust>
                        <Role>Main Account Holder</Role>
                    </SaleCust>
                    <TopUpFlag/>
                </RetSaleDtls>
                <RetSaleDtls>
                    <ProdCatId>2</ProdCatId>
                    <ProductDtlsInfo>
                        <ProductFeature/>
                    </ProductDtlsInfo>
                    <AcctBranchCode>0088</AcctBranchCode>
                    <AcctId>709000078094</AcctId>
                    <ChannelCustId>MIPAP</ChannelCustId>
                    <ChannelName/>
                    <IsMasterAcct/>
                    <IsMultiCurrAcct>N</IsMultiCurrAcct>
                    <ProductCategory>MIPAP</ProductCategory>
                    <ProductCode>TDA</ProductCode>
                    <IsRevolvingODAcct/>
                    <SaleChannelDtls>
                        <AcctClosureDt>2013-04-02T00:00:00.000</AcctClosureDt>
                        <AcctCurrCode>INR</AcctCurrCode>
                        <AcctOpeningDt>2013-01-12T00:00:00.000</AcctOpeningDt>
                        <AcctStatus>Closed</AcctStatus>
                        <AcctShortName>ANILKUMAR</AcctShortName>
                        <CrScoreStatus/>
                        <EligibilityResults/>
                        <IntRepaymentAcct/>
                        <ModeOfOperation>1</ModeOfOperation>
                        <PosteIDSRStatus/>
                        <PrefRepaymentMode/>
                        <RepaymentAcctBank/>
                        <RepaymentAcctId/>
                        <RepaymentMode/>
                    </SaleChannelDtls>
                    <SaleCust>
                        <Role>Main Account Holder</Role>
                    </SaleCust>
                    <TopUpFlag/>
                </RetSaleDtls>
                <RetSaleDtls>
                    <ProdCatId>3</ProdCatId>
                    <ProductDtlsInfo>
                        <ProductFeature/>
                    </ProductDtlsInfo>
                    <AcctBranchCode>0001</AcctBranchCode>
                    <AcctId>409000018082</AcctId>
                    <ChannelCustId>CAGEN</ChannelCustId>
                    <ChannelName/>
                    <IsMasterAcct/>
                    <IsMultiCurrAcct>N</IsMultiCurrAcct>
                    <ProductCategory>CAGEN</ProductCategory>
                    <ProductCode>ODA</ProductCode>
                    <IsRevolvingODAcct/>
                    <SaleChannelDtls>
                        <AcctCurrCode>INR</AcctCurrCode>
                        <AcctOpeningDt>2013-02-28T00:00:00.000</AcctOpeningDt>
                        <AcctStatus>Open</AcctStatus>
                        <AcctShortName>ANILKUMAR</AcctShortName>
                        <CrScoreStatus/>
                        <EligibilityResults/>
                        <IntRepaymentAcct/>
                        <ModeOfOperation>1</ModeOfOperation>
                        <PosteIDSRStatus/>
                        <PrefRepaymentMode/>
                        <RepaymentAcctBank/>
                        <RepaymentAcctId/>
                        <RepaymentMode/>
                    </SaleChannelDtls>
                    <SaleCust>
                        <Role>Main Account Holder</Role>
                    </SaleCust>
                    <TopUpFlag/>
                </RetSaleDtls>
                <RetSaleDtls>
                    <ProdCatId>3</ProdCatId>
                    <ProductDtlsInfo>
                        <ProductFeature/>
                    </ProductDtlsInfo>
                    <AcctBranchCode>0106</AcctBranchCode>
                    <AcctId>309000000013</AcctId>
                    <ChannelCustId>SBGEN</ChannelCustId>
                    <ChannelName/>
                    <IsMasterAcct/>
                    <IsMultiCurrAcct>N</IsMultiCurrAcct>
                    <ProductCategory>SBGEN</ProductCategory>
                    <ProductCode>ODA</ProductCode>
                    <IsRevolvingODAcct/>
                    <SaleChannelDtls>
                        <AcctCurrCode>INR</AcctCurrCode>
                        <AcctOpeningDt>2012-12-17T00:00:00.000</AcctOpeningDt>
                        <AcctStatus>Open</AcctStatus>
                        <AcctShortName>ANILKUMAR</AcctShortName>
                        <CrScoreStatus/>
                        <EligibilityResults/>
                        <IntRepaymentAcct/>
                        <ModeOfOperation>1</ModeOfOperation>
                        <PosteIDSRStatus/>
                        <PrefRepaymentMode/>
                        <RepaymentAcctBank/>
                        <RepaymentAcctId/>
                        <RepaymentMode/>
                    </SaleChannelDtls>
                    <SaleCust>
                        <Role>Main Account Holder</Role>
                    </SaleCust>
                    <TopUpFlag/>
                </RetSaleDtls>
                <RetSaleDtls>
                    <ProdCatId>3</ProdCatId>
                    <ProductDtlsInfo>
                        <ProductFeature/>
                    </ProductDtlsInfo>
                    <AcctBranchCode>0002</AcctBranchCode>
                    <AcctId>409000018389</AcctId>
                    <ChannelCustId>CAEXD</ChannelCustId>
                    <ChannelName/>
                    <IsMasterAcct/>
                    <IsMultiCurrAcct>N</IsMultiCurrAcct>
                    <ProductCategory>CAEXD</ProductCategory>
                    <ProductCode>ODA</ProductCode>
                    <IsRevolvingODAcct/>
                    <SaleChannelDtls>
                        <AcctCurrCode>INR</AcctCurrCode>
                        <AcctOpeningDt>2013-03-01T00:00:00.000</AcctOpeningDt>
                        <AcctStatus>Open</AcctStatus>
                        <AcctShortName>ANILKUMAR</AcctShortName>
                        <CrScoreStatus/>
                        <EligibilityResults/>
                        <IntRepaymentAcct/>
                        <ModeOfOperation>1</ModeOfOperation>
                        <PosteIDSRStatus/>
                        <PrefRepaymentMode/>
                        <RepaymentAcctBank/>
                        <RepaymentAcctId/>
                        <RepaymentMode/>
                    </SaleChannelDtls>
                    <SaleCust>
                        <Role>Main Account Holder</Role>
                    </SaleCust>
                    <TopUpFlag/>
                </RetSaleDtls>
                <RetSaleDtls>
                    <ProdCatId>3</ProdCatId>
                    <ProductDtlsInfo>
                        <ProductFeature/>
                    </ProductDtlsInfo>
                    <AcctBranchCode>0001</AcctBranchCode>
                    <AcctId>309000055837</AcctId>
                    <ChannelCustId>SBGEN</ChannelCustId>
                    <ChannelName/>
                    <IsMasterAcct/>
                    <IsMultiCurrAcct>N</IsMultiCurrAcct>
                    <ProductCategory>SBGEN</ProductCategory>
                    <ProductCode>ODA</ProductCode>
                    <IsRevolvingODAcct/>
                    <SaleChannelDtls>
                        <AcctCurrCode>INR</AcctCurrCode>
                        <AcctOpeningDt>2013-02-19T00:00:00.000</AcctOpeningDt>
                        <AcctStatus>Open</AcctStatus>
                        <AcctShortName>ANILKUMAR</AcctShortName>
                        <CrScoreStatus/>
                        <EligibilityResults/>
                        <IntRepaymentAcct/>
                        <ModeOfOperation>1</ModeOfOperation>
                        <PosteIDSRStatus/>
                        <PrefRepaymentMode/>
                        <RepaymentAcctBank/>
                        <RepaymentAcctId/>
                        <RepaymentMode/>
                    </SaleChannelDtls>
                    <SaleCust>
                        <Role>Main Account Holder</Role>
                    </SaleCust>
                    <TopUpFlag/>
                </RetSaleDtls>
                <RetSaleDtls>
                    <ProdCatId>3</ProdCatId>
                    <ProductDtlsInfo>
                        <ProductFeature/>
                    </ProductDtlsInfo>
                    <AcctBranchCode>0001</AcctBranchCode>
                    <AcctId>309000056186</AcctId>
                    <ChannelCustId>SBGEN</ChannelCustId>
                    <ChannelName/>
                    <IsMasterAcct/>
                    <IsMultiCurrAcct>N</IsMultiCurrAcct>
                    <ProductCategory>SBGEN</ProductCategory>
                    <ProductCode>ODA</ProductCode>
                    <IsRevolvingODAcct/>
                    <SaleChannelDtls>
                        <AcctCurrCode>INR</AcctCurrCode>
                        <AcctOpeningDt>2013-03-01T00:00:00.000</AcctOpeningDt>
                        <AcctStatus>Open</AcctStatus>
                        <AcctShortName>ANILKUMAR</AcctShortName>
                        <CrScoreStatus/>
                        <EligibilityResults/>
                        <IntRepaymentAcct/>
                        <ModeOfOperation>3</ModeOfOperation>
                        <PosteIDSRStatus/>
                        <PrefRepaymentMode/>
                        <RepaymentAcctBank/>
                        <RepaymentAcctId/>
                        <RepaymentMode/>
                    </SaleChannelDtls>
                    <SaleCust>
                        <Role>Main Account Holder</Role>
                    </SaleCust>
                    <TopUpFlag/>
                </RetSaleDtls>
                <RetSaleDtls>
                    <ProdCatId>3</ProdCatId>
                    <ProductDtlsInfo>
                        <ProductFeature/>
                    </ProductDtlsInfo>
                    <AcctBranchCode>0001</AcctBranchCode>
                    <AcctId>1000110010018943</AcctId>
                    <ChannelCustId>SBGEN</ChannelCustId>
                    <ChannelName/>
                    <IsMasterAcct/>
                    <IsMultiCurrAcct>N</IsMultiCurrAcct>
                    <ProductCategory>SBGEN</ProductCategory>
                    <ProductCode>ODA</ProductCode>
                    <IsRevolvingODAcct/>
                    <SaleChannelDtls>
                        <AcctCurrCode>INR</AcctCurrCode>
                        <AcctOpeningDt>2005-05-16T00:00:00.000</AcctOpeningDt>
                        <AcctStatus>Open</AcctStatus>
                        <AcctShortName>ANEETANASA</AcctShortName>
                        <CrScoreStatus/>
                        <EligibilityResults/>
                        <IntRepaymentAcct/>
                        <ModeOfOperation>10</ModeOfOperation>
                        <PosteIDSRStatus/>
                        <PrefRepaymentMode/>
                        <RepaymentAcctBank/>
                        <RepaymentAcctId/>
                        <RepaymentMode/>
                    </SaleChannelDtls>
                    <SaleCust>
                        <Role>Main Account Holder</Role>
                    </SaleCust>
                    <TopUpFlag/>
                </RetSaleDtls>
                <RetSaleDtls>
                    <ProdCatId>3</ProdCatId>
                    <ProductDtlsInfo>
                        <ProductFeature/>
                    </ProductDtlsInfo>
                    <AcctBranchCode>0001</AcctBranchCode>
                    <AcctId>309000056797</AcctId>
                    <ChannelCustId>SBGEN</ChannelCustId>
                    <ChannelName/>
                    <IsMasterAcct/>
                    <IsMultiCurrAcct>N</IsMultiCurrAcct>
                    <ProductCategory>SBGEN</ProductCategory>
                    <ProductCode>ODA</ProductCode>
                    <IsRevolvingODAcct/>
                    <SaleChannelDtls>
                        <AcctCurrCode>INR</AcctCurrCode>
                        <AcctOpeningDt>2013-04-01T00:00:00.000</AcctOpeningDt>
                        <AcctStatus>Open</AcctStatus>
                        <AcctShortName>ANILKUMAR</AcctShortName>
                        <CrScoreStatus/>
                        <EligibilityResults/>
                        <IntRepaymentAcct/>
                        <ModeOfOperation>1</ModeOfOperation>
                        <PosteIDSRStatus/>
                        <PrefRepaymentMode/>
                        <RepaymentAcctBank/>
                        <RepaymentAcctId/>
                        <RepaymentMode/>
                    </SaleChannelDtls>
                    <SaleCust>
                        <Role>Main Account Holder</Role>
                    </SaleCust>
                    <TopUpFlag/>
                </RetSaleDtls>
                <Service/>
                <Status/>
            </RetCustAcctInqRs>
            <RetCustAcctInq_CustomData/>
        </RetCustAcctInqResponse>
    </Body>
</FIXML>
