<?xml version="1.0" encoding="UTF-8"?>
<FIXML xmlns="http://www.finacle.com/fixml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.finacle.com/fixml StopChkAdd.xsd">
    <Header>
        <ResponseHeader>
            <RequestMessageKey>
                <RequestUUID>Req_1380458872899</RequestUUID>
                <ServiceRequestId>StopChkAdd</ServiceRequestId>
                <ServiceRequestVersion>10.2</ServiceRequestVersion>
                <ChannelId>COR</ChannelId>
            </RequestMessageKey>
            <ResponseMessageInfo>
                <BankId>01</BankId>
                <TimeZone/>
                <MessageDateTime>2013-09-29T12:48:58.825</MessageDateTime>
            </ResponseMessageInfo>
            <UBUSTransaction>
                <Id/>
                <Status/>
            </UBUSTransaction>
            <HostTransaction>
                <Id/>
                <Status>SUCCESS</Status>
            </HostTransaction>
            <HostParentTransaction>
                <Id/>
                <Status/>
            </HostParentTransaction>
            <CustomInfo/>
        </ResponseHeader>
    </Header>
    <Body>
        <StopChkAddResponse>
            <StopChkAddRs>
                <StopChkInfo>
                    <ChkNum>2274</ChkNum>
                    <Name/>
                    <Reason>016</Reason>
                    <NoOfLeaves>002</NoOfLeaves>
                </StopChkInfo>
                <ChkAmt>
                    <amountValue>0.00</amountValue>
                    <currencyCode>INR</currencyCode>
                </ChkAmt>
                <ChkStatusRec>
                    <ChkNum>2274</ChkNum>
                    <ChkStatus>S</ChkStatus>
                </ChkStatusRec>
                <ChkStatusRec>
                    <ChkNum>2275</ChkNum>
                    <ChkStatus>S</ChkStatus>
                </ChkStatusRec>
            </StopChkAddRs>
            <StopChkAdd_CustomData/>
        </StopChkAddResponse>
    </Body>
</FIXML>