<?xml version="1.0" encoding="UTF-8"?>
<FIXML xmlns="http://www.finacle.com/fixml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.finacle.com/fixml XferTrnAdd.xsd">
<Header>
    <ResponseHeader>
        <RequestMessageKey>
            <RequestUUID>Req_1383655152987</RequestUUID>
            <ServiceRequestId>XferTrnAdd</ServiceRequestId>
            <ServiceRequestVersion>10.2</ServiceRequestVersion>
            <ChannelId>COR</ChannelId>
        </RequestMessageKey>
        <ResponseMessageInfo>
            <BankId>01</BankId>
            <TimeZone/>
            <MessageDateTime>2013-11-05T12:55:08.400</MessageDateTime>
        </ResponseMessageInfo>
        <UBUSTransaction>
            <Id/>
            <Status/>
        </UBUSTransaction>
        <HostTransaction>
            <Id/>
            <Status>SUCCESS</Status>
        </HostTransaction>
        <HostParentTransaction>
            <Id/>
            <Status/>
        </HostParentTransaction>
        <CustomInfo/>
    </ResponseHeader>
</Header>

<Body>
    <XferTrnAddResponse>
        <XferTrnAddRs>
            <TrnIdentifier>
                <TrnDt>2014-02-14T00:00:00.000</TrnDt>
                <TrnId>M5397</TrnId>
            </TrnIdentifier>
        </XferTrnAddRs>
        <XferTrnAdd_CustomData/>
    </XferTrnAddResponse>
</Body>

</FIXML>
